@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Permanent+Marker&display=swap');
body{
    text-align: center;
    background: rgb(139, 128, 128);
    background-image: url("../img/tile.jpg");
}
h1{
    font-family: 'Permanent Marker', cursive;
}
#myForm{
background: url("../img/formbg.jpg") center;
background-size: contain;
width: 70%;
    margin: auto auto;
    margin-bottom:20px;
    font-size: 20px;
    color: rgb(34, 25, 25);
    padding: 15px;  
}
input[type="submit"],input[type="reset"]{
font-weight: bold;
border-radius: 10%;
background-color: #f68989;
color: #3729df
}

.note{
    width: 80px;
    height: 150px;
    padding: 40px 40px;
    margin: 3px 3px;
    position: relative;
    background-image: url("../img/notebg.png");  
}
.fade{
    animation: fadeInNote 2s;
}
.note:hover .btn{
    display: block;
}
#notes{
    display: flex;
   flex-wrap: wrap;
    align-items: center;
}
.note{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
@keyframes fadeInNote {
    0%{
      opacity: 0;  
    }
    100%{
        opacity: 1;
    }
}
p{
    max-width: 80px;
    max-height: 100px;
    overflow-x: auto;
    word-wrap: break-word;
}
.btn{
    position: absolute;
    top: 16px;
    right: 0;
    display: none;
    background-color: transparent;
    border: none;
}

.dateTime{
    margin-left: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}